*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** 
    header (1)
**/
.logo{
    height: 200px;
}

.logo img{
    width: 400px;
    height: 200px;   
}

.logo{
    background-image: url("image/pattern.png");
    background-color: #4ea0ff;
}

.main-item{
    margin: 10px;
    margin-top: 30px;
}

.main-item h1{
    font-size: 100px;
}

.first-p{
    font-size: 50px;
}

.main-span{
    color: #20a9e5;
}

.second-p{
    font-size: 35px;
}

.span-subtitle{
    color: rgb(117, 112, 112);
}
/** 
    header(1)
***/

/**
section (2)
**/
main{
    margin: 10px;
}

.first-section {
    height: 580px;
    margin-top: 20px;
}

.first-section img{
    width: 700px;
    height: 500px;
}
/**
section (2)
**/

/**
section (3)
**/

.second-section p{
    font-size: 25px;
}

.second-section span{
    background-color: yellow;
}

.list{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 25px;
}
/**
section (3)
**/

/**
section (4)
**/

.table{
    margin-top: 30px;
    font-size: 25px;
    border-collapse: collapse;
    width: 70%;
}

.first-row{
   background-color: #20a9e5
   
}

.first-row td{
    color: white;
}

.riga-color{
    background-color: #b1e5f2;
}

/**
section (4)
**/
