*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(71, 21, 114, 0.3);
}

/*header*/
.main-item{
    height: 150px;
    background-image: url("../image/pattern.png");
    background-color: blueviolet
}

.main-item img{
    height: 150px;
}

.header-item{
    margin: 20px;
    background-color: rgba(108, 9, 123, 0.2);
}

.header-item h1{
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
    color: #a405a4;
}

.header-item p{
    font-size: 25px;
    color: #8f023f;
}

.divisore{
    height: 10px;
}
/* fine header*/

/*main*/
    /*section*/
.central-main{
    width: 100%;
    text-align: center;
}

.central-main p{
    font-size: 19px;
    color: #8f023f;
}
    /* fine prima section*/

    /*inizio seconda section*/

.item-sec-3{
    width: 900px;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    font-size: 30px;
    background-color: rgb(140, 47, 216);
}



.list{
    width: 900px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    margin-left: auto;
    margin-right: 170px;
    background-color: rgb(103, 169, 235);
}

    /*fine seconda section*/

    /*inizio terza section*/
table{
    border-style: solid;
    border-color: rgb(44, 27, 67);
    margin-top: 15px;
    margin-bottom: 15px;
}

.intest-tab td{
    color: black;
}

table td {
    font-size: 30px;
    border-style: solid;
    border-color: rgb(103, 66, 156);
    color: rgb(127, 91, 184);
}


.final-par p{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(165, 0, 165);
}
    /*fine terza section*/

    /* inizio footer*/

h3{
    font-size: 50px;
    color: rgb(109, 54, 8);
    

}
.over-img-1{
    background-image: url("../image/monitor.jpg");
    width: 300px;
    height: 300px;
    font-size: 30px;
    color: rgb(219, 192, 16);
}

.over-img-2{
    background-image: url("../image/graph.jpg");
    width: 300px;
    height: 300px;
    color: rgb(219, 192, 16);
    font-size: 30px;
    margin-top: 10px;
}
    /* fine footer*/